﻿@page
@using StoreLedger.Model
@model StoreLedger.Pages.Inventory.IndexModel
@{
    ViewData["Title"] = "Inventory";
}
@functions
{

    

}

@section scripts
{
    <style>
        
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <partial name="_Flash" />
                <div class="form-group row">
                    <label class="control-label col-md-12">Filter</label>
                    <div class="col-md-12">
                        <select class="form-control custom-select" asp-items="@Model.CategoryList" id="inCategory">
                            <option value="">All</option>
                        </select>
                        @*<small class="form-control-feedback"> Select your gender. </small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Single Items</h4>
                <h6 class="card-subtitle">Single items available</h6>
                <partial name="_Flash" />
                <div class="table">
                    <table class="table inventory">
                        <thead>
                            <tr>
                                <th class="col1">&nbsp;</th>
                                <th class="col2">&nbsp;</th>
                                <th class="col3">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Singles)
                        {
                            <tr class="border_bottom">
                                <td><h2>@item.Code</h2></td>
                                <td><img src="@item.ImageUrl" width="120" height="120"/></td>
                                <td>
                                    <div class="font-weight-bold-400">@item.Name</div>
                                    <h3><span class="badge badge-secondary">@Defaults.CountryProfile.Currency @item.Price.ToString("N4")</span> 
                                    <span class="badge badge-category">@item.CategoryName</span></h3>
                                    <table class="table inFeatures">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th class="text-danger">Sold</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Reorder</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="m-b-0">@item.Quantity</div>
                                            </td>
                                            <td class="text-danger">
                                                <div class="m-b-0">@item.Sold</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.MinLevel</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.MaxLevel</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.ReOrderLevel</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Packs</h4>
                <h6 class="card-subtitle">List of pack items available</h6>
                <partial name="_Flash" />
                <div class="table">
                    <table class="table inventory">
                        <thead>
                            <tr>
                                <th class="col1">&nbsp;</th>
                                <th class="col2">&nbsp;</th>
                                <th class="col3">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Packs)
                            {
                                <tr class="border_bottom">
                                    <td><h2>@item.Code</h2></td>
                                    <td><img src="@item.ImageUrl" width="120" height="120" /></td>
                                    <td>
                                        <h3 class="font-weight-bold">@item.Name</h3>
                                        <h3><span class="badge badge-secondary">@Defaults.CountryProfile.Currency @item.Price.ToString("N4")</span> 
                                        <span class="badge badge-category">@item.CategoryName</span></h3>
                                        <table class="table inFeatures">
                                            <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th class="text-danger">Sold</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Reorder</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="m-b-0">@item.Quantity</div>
                                                </td>
                                                <td class="text-danger">
                                                    <div class="m-b-0">@item.Sold</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.MinLevel</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.MaxLevel</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.ReOrderLevel</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsBottom
{
    
    <script>

        $(document).ready(function() {
            $('#inCategory').change(function () {
                var categoryId = $(this).find(":selected").val();
                window.location = "/inventory?categoryId=" + categoryId;
            });
        });
                        
    </script>
}
