﻿.card-body {
    border: solid 1px #e0e0e0 !important;
}
.menu-icon img { width: 35px; }
.sidebar-nav ul li a {
    font-weight: bold;
    font-size: 15px;
}
.logoName { color: #fff;font-weight: bold; }
.inventory tr.border_bottom td {
    border-bottom: 1pt solid #d9d9d9;
}
.inFeatures { border-top: solid 1pt #eee; border-left:solid 1pt #eee; }
.inFeatures td, .inFeatures th { border-right: solid 1pt #eee !important; border-bottom:solid 1pt #eee !important;font-size: 0.9rem;text-align: center; }
.inFeatures th { /*background-color: #f6f6f6;*/  }
.inventory { width: 100%; }
.inventory .col1 { width: 10%; }
.inventory .col2 { width: 25%; }
.inventory .col3 { width: 65%; }
.inventory .font-weight-bold { font-weight: 500 !important;}
.inventory div.col { border: solid 1px #d9d9d9; margin: 0 2px; }

.badge-category { color: #fff; background-color: #009efb; }
.badge-attendant { color: #fff; background-color: #bd2130; }
.group-label { padding: .375rem .75rem;font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; text-align: center;}
.inventorySales, .inventoryItems { border: solid 1px #eee; }
.inventorySales thead tr th { background-color: #495057; color: #fff; }
.inventorySales tr.totals { background-color: #eee; }

.repTable td, .repTable th {  padding: 4px; font-size: 11pt;}
.repTable .intotal td {
    background-color: #eee;
    font-weight: bold;
    border-top: solid 2px #000;
}

.label-price {
    background-color: #eee;
    color: #495057;
}
.label-stock {
    background-color: #c3e6cb;
    color: #495057;
}
.label-sold {
    background-color: #eee;
    color: #495057;
}
.font-weight-bold-400 {
    font-weight: 400 !important;
}
.salesloader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #009efb;
    border-bottom: 16px solid #009efb;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    text-align: center;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table .rpColDate {
    width: 20%;
}

table .rpColItem {
    width: 30%;
}

table .rpColQty {
    width: 20%;
}

table .rpColPrice {
    width: 15%;
}

table .rpColTotal {
    width: 15%;
}

.color-table.report-table thead th {
    background-color: #eee;
    color: #495057;
}
.tableexport-caption { display: inline-block; }
.tableexport-caption button { border: solid 1px #ced4da; background-color: #e9ecef; margin: 0 5px;cursor: pointer; padding: 10px; }

