﻿@page
@using StoreLedger.Pages.Admin.Inventory
@model StoreLedger.Pages.Admin.Inventory.AdminInventoryCategoryForm
@{
    ViewData["Title"] = $"Inventory Categories : ";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">@Model.PageForm.Title</h3>
            <p class="text-muted m-b-30 font-13"> &nbsp; </p>
            <partial name="_Flash" />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form asp-page-handler="@Model.PageForm.Method" method="post">
                        <input type="hidden" asp-for="Category.InventoryCategoryId"/>
                        <div class="form-group">
                            <label asp-for="Category.Name">Name</label>
                            <input type="text" required class="form-control" asp-for="Category.Name" id="FirstName" asp placeholder="Enter Category Name">
                            <span asp-validation-for="Category.Name"></span>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                        <a href="/admin/inventory/category" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
