﻿@page
@using StoreLedger.Pages.Admin.Inventory
@model StoreLedger.Pages.Admin.Inventory.AdminInventoryCategoryPage
@{
    ViewData["Title"] = "Inventory Categories";
}
@functions
{
    
}
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Inventory Categories</h4>
                <h6 class="card-subtitle">Inventory items categories</h6>
                <partial name="_Flash" />
                <div class="button-group text-right">
                    <a asp-page="categoryform" asp-page-handler="create" class="btn btn-secondary">
                        <i class="mdi mdi-plus"></i>
                        Add Category
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <th class="text-right">
                                    <a asp-page="CategoryForm" asp-page-handler="edit" asp-route-id="@item.InventoryCategoryId" class="btn btn-outline-secondary">
                                        Edit
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#"
                                       class="btn btn-outline-danger deleteUser" 
                                       data-toggle="modal" data-target="#deleteModal"
                                       data-id="@item.InventoryCategoryId" data-name="@item.Name" onclick="modalFunc(this)">Delete</a>
                                </th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section scriptsBottom
{
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Delete Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <span id="modContent"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="" id="modDelete" class="btn btn-primary">YES DELETE</a>
                </div>
            </div>
        </div>
    </div>
    <script>
            //$('.deleteUser').on('show.bs.modal',
            //    function(e) {
            //        var id = $(e.relatedTarget).attr('data-id');
            //        var name = $(e.relatedTarget).attr('data-name');

            //        var modal = $(this);
            //        modal.find('#modContent').text('Delete User ' + name);
            //        modal.find('#modDelete').attr('asp-route-id', id);
            //});

        function modalFunc(e) {
            var id = $(e).attr('data-id');
            var name = $(e).attr('data-name');

            var modal = $('#deleteModal');
            modal.find('#modContent').text('Delete Category ' + name);
            modal.find('#modDelete').attr('href', '/admin/inventory/category?handler=delete&id=' + id);
        }
                
    </script>
}
