﻿@page
@using StoreLedger.Model
@using StoreLedger.Model.Repos
@using StoreLedger.Pages.Admin
@using StoreLedger.Pages.Admin.Inventory
@model StoreLedger.Pages.Admin.Inventory.AdminInventoryPage
@inject InventoryRepo _InventoryRepo
@{
    ViewData["Title"] = "Users";
}
@functions
{

    string SetRoleLabel(string role)
    {
        if (role == Defaults.Role.SuperAdministrator) return "label-primary";
        if (role == Defaults.Role.Administrator) return "label-success";
        if (role == Defaults.Role.Manager) return "label-info";
        if (role == Defaults.Role.Attendant) return "label-danger";

        return "label-primary";
    }


}

@functions
{

    InventoryView GetStockView(Guid inventoryId)
    {
        var stockView = new InventoryView
        {
            Price = 0.0M,
            Quantity = 0,
            Sold = 0,
        };

        var stock = Model.InventoryStocks.FirstOrDefault(c => c.InventoryId == inventoryId);
        if (stock != null)
        {
            stockView.Price = stock.Price;
            stockView.Quantity = stock.Quantity;
            var objStockSold = _InventoryRepo.GetStockSold(stock.InventoryStockId).Result;
            stockView.Sold = objStockSold.Sold;
        }

        return stockView;
    }

}

@section scripts
{
    <style>
        
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <partial name="_Flash" />
                <div class="form-group row">
                    <label class="control-label col-md-12">Filter</label>
                    <div class="col-md-12">
                        <select class="form-control custom-select" asp-items="@Model.CategoryList" id="inCategory">
                            <option value="">All</option>
                        </select>
                        @*<small class="form-control-feedback"> Select your gender. </small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Single Items</h4>
                <h6 class="card-subtitle">Single items available</h6>
                <partial name="_Flash" />
                <div class="button-group text-right">
                    <a asp-page="itemform" asp-page-handler="create" asp-route-itemtype="@Defaults.ItemTypeOption.Single" class="btn btn-secondary">
                        <i class="mdi mdi-plus"></i>
                        Add
                    </a>
                </div>
                <div class="table">
                    <table class="table inventory">
                        <thead>
                            <tr>
                                <th class="col1">&nbsp;</th>
                                <th class="col2">&nbsp;</th>
                                <th class="col3">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Singles)
                        {
                            var stockView = GetStockView(item.InventoryId);
                            <tr class="border_bottom">
                                <td><h2>@item.Code</h2></td>
                                <td><img src="@item.ImageUrl" width="120" height="120"/></td>
                                <td>
                                    <div class="font-weight-bold-400">@item.Name</div>
                                    <h3><span class="badge badge-secondary">@Defaults.CountryProfile.Currency @stockView.Price.ToString("N4")</span> 
                                    <span class="badge badge-category">@item.Category.Name</span></h3>
                                    <table class="table inFeatures">
                                        <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th class="text-danger">Sold</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Reorder</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="m-b-0">@stockView.Quantity</div>
                                            </td>
                                            <td class="text-danger">
                                                <div class="m-b-0">@stockView.Sold</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.MinLevel</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.MaxLevel</div>
                                            </td>
                                            <td>
                                                <div class="m-b-0">@item.ReOrderLevel</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="p-t-10">
                                        <a asp-page="stockform" asp-page-handler="create" asp-route-id="@item.InventoryId" class="btn btn-success btn-xs">Stock</a>
                                        &nbsp;&nbsp;
                                        <a asp-page="itemform" asp-page-handler="edit" asp-route-id="@item.InventoryId" class="btn btn-outline-secondary btn-xs">Edit</a>
                                        &nbsp;&nbsp;
                                        <a asp-page="obsoleteform" asp-page-handler="create" asp-route-id="@item.InventoryId" class="btn btn-outline-danger btn-xs">
                                            Obsolete
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="#"
                                           class="btn btn-outline-warning btn-xs deleteUser"
                                           data-toggle="modal" data-target="#deleteModal"
                                           data-id="@item.InventoryId" data-name="@item.Name" onclick="modalFunc(this)">Delete</a>
                                        &nbsp;&nbsp;
                                        <a href="#" class="btn btn-outline-primary btn-xs">
                                            History
                                        </a>

                                    </div>
                                </td>
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Packs</h4>
                <h6 class="card-subtitle">List of pack items available</h6>
                <partial name="_Flash" />
                <div class="button-group text-right">
                    <a asp-page="itemform" asp-page-handler="create" asp-route-itemtype="@Defaults.ItemTypeOption.Pack" class="btn btn-secondary">
                        <i class="mdi mdi-plus"></i>
                        Add
                    </a>
                </div>
                <div class="table">
                    <table class="table inventory">
                        <thead>
                            <tr>
                                <th class="col1">&nbsp;</th>
                                <th class="col2">&nbsp;</th>
                                <th class="col3">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Packs)
                            {
                                var stockView = GetStockView(item.InventoryId);
                                <tr class="border_bottom">
                                    <td><h2>@item.Code</h2></td>
                                    <td><img src="@item.ImageUrl" width="120" height="120" /></td>
                                    <td>
                                        <div class="font-weight-bold-400">@item.Name</div>
                                        <h3><span class="badge badge-secondary">@Defaults.CountryProfile.Currency @stockView.Price.ToString("N4")</span> 
                                        <span class="badge badge-category">@item.Category.Name</span></h3>
                                        <table class="table inFeatures">
                                            <thead>
                                            <tr>
                                                <th>Stock</th>
                                                <th class="text-danger">Sold</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Reorder</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="m-b-0">@stockView.Quantity</div>
                                                </td>
                                                <td class="text-danger">
                                                    <div class="m-b-0">@stockView.Sold</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.MinLevel</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.MaxLevel</div>
                                                </td>
                                                <td>
                                                    <div class="m-b-0">@item.ReOrderLevel</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="p-t-10">
                                            <a asp-page="stockform" asp-page-handler="create" asp-route-id="@item.InventoryId" class="btn btn-success btn-xs">Stock</a>
                                            &nbsp;&nbsp;
                                            <a asp-page="itemform" asp-page-handler="edit" asp-route-id="@item.InventoryId" class="btn btn-outline-secondary btn-xs">Edit</a>
                                            &nbsp;&nbsp;
                                            <a asp-page="obsoleteform" asp-page-handler="create" asp-route-id="@item.InventoryId" class="btn btn-outline-danger btn-xs">
                                                Obsolete
                                            </a>
                                            &nbsp;&nbsp;
                                            <a href="javascrpt:void()"
                                               class="btn btn-outline-warning btn-xs deleteUser"
                                               data-toggle="modal" data-target="#deleteModal"
                                               data-id="@item.InventoryId" data-name="@item.Name" onclick="modalFunc(this)">Delete</a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="btn btn-outline-primary btn-xs">
                                                History
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsBottom
{
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">New message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <span id="modContent"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="" id="modDelete" class="btn btn-primary">YES DELETE</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function() {
            $('#inCategory').change(function () {
                var categoryId = $(this).find(":selected").val();
                window.location = "/admin/inventory?categoryId=" + categoryId;
            });
        });

        function modalFunc(e) {
            var id = $(e).attr('data-id');
            var name = $(e).attr('data-name');

            var modal = $('#deleteModal');
            modal.find('#modContent').text('Delete Inventory ' + name);
            modal.find('#modDelete').attr('href', '/admin/inventory/index?handler=delete&id=' + id);
        }
                
    </script>
}
