﻿@page
@using StoreLedger.Pages.Admin
@using StoreLedger.Pages.Admin.Inventory
@model StoreLedger.Pages.Admin.Inventory.ItemForm
@{
    ViewData["Title"] = $"Inventory : ";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">@Model.PageForm.Title</h3>
            <p class="text-muted m-b-30 font-13"> &nbsp; </p>
            <partial name="_Flash" />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form asp-page-handler="@Model.PageForm.Method" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Inventory.InventoryId" />
                        <input type="hidden" asp-for="Inventory.ImageUrl" />
                        <div class="form-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Code</div>
                                                </div>
                                                <input type="text" readonly="readonly" required class="form-control col-sm-3" asp-for="Inventory.Code" id="Code" asp placeholder="Enter Code">
                                                <span asp-validation-for="Inventory.Code"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Min. Level&nbsp;</div>
                                                </div>
                                                <input type="text" required asp-for="Inventory.MinLevel" class="form-control col-sm-3" id="MinLevel" onkeypress="return isNumberKey(event)" maxlength="3">
                                                <span asp-validation-for="Inventory.MinLevel"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Inventory.Name">Name</label>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" required asp-for="Inventory.Name" class="form-control" id="Name" placeholder="Enter Name">
                                            <span asp-validation-for="Inventory.Name"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Max. Level</div>
                                                </div>
                                                <input type="text" required asp-for="Inventory.MaxLevel" class="form-control col-sm-3" id="MaxLevel" onkeypress="return isNumberKey(event)" maxlength="3">
                                                <span asp-validation-for="Inventory.MaxLevel"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Inventory.InventoryCategoryId">Category</label>
                                        </label>
                                        <div class="col-md-9">
                                            <select required asp-for="Inventory.InventoryCategoryId" asp-items="@Model.Categories" class="form-control col-sm-8">
                                                <option value="">Pick one</option>
                                            </select>
                                            <span asp-validation-for="Inventory.InventoryCategoryId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Re-order Level</div>
                                                </div>
                                                <input type="text" required asp-for="Inventory.ReOrderLevel" class="form-control col-sm-3" id="ReOrderLevel" onkeypress="return isNumberKey(event)" maxlength="3">
                                                <span asp-validation-for="Inventory.ReOrderLevel"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Inventory.ItemType">Item Type</label>
                                        </label>
                                        <div class="col-md-9">
                                            <select asp-for="Inventory.ItemType" asp-items="@Model.ItemTypeOptions" class="form-control  col-sm-8"></select>
                                            <span asp-validation-for="Inventory.ItemType"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Inventory.ImageUrl">Image</label>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="file" class="form-control" asp-for="Inventory.ImageFile" />
                                            <span asp-validation-for="Inventory.ImageFile"></span>

                                            @if (!string.IsNullOrEmpty(Model.Inventory.ImageUrl))
                                            {
                                                <div class="p-t-10">
                                                    <img src="@Model.Inventory.ImageUrl" width="100" height="100" />
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                        <a href="/admin/inventory" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsBottom{ 
    <script>
        function isNumberKey(evt)
        {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 
                && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }  
    </script>
}
