﻿@page
@using StoreLedger.Model
@using StoreLedger.Pages.Admin
@using StoreLedger.Pages.Admin.Inventory
@model StoreLedger.Pages.Admin.Inventory.ObsoleteForm
@{
    ViewData["Title"] = $"Inventory : ";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">@Model.PageForm.Title</h3>
            <p class="text-muted m-b-30 font-13"> &nbsp; </p>
            <partial name="_Flash" />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form asp-page-handler="@Model.PageForm.Method" method="post" class="form-horizontal">
                        <input type="hidden" asp-for="Obsolete.InventoryId" />
                        <input type="hidden" asp-for="Obsolete.InventoryStockId" />
                        <input type="hidden" asp-for="Obsolete.Quantity" />
                        <input type="hidden" asp-for="Obsolete.ObsoleteQuantity" />
                        <input type="hidden" asp-for="Obsolete.Price" />
                        <div class="form-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            <p class="form-control-static"></p>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Code</th>
                                                        <th>Image</th>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Quantity</th>
                                                        <th>Price (@Defaults.CountryProfile.Currency)</th>
                                                        <th>Sold</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.Stock.Code</td>
                                                        <td><img src="@Model.Stock.ImageUrl" width="100" height="100" /></td>
                                                        <td>@Model.Stock.Name</td>
                                                        <td>@Model.Stock.Category</td>
                                                        <td>@Model.Stock.PrevQuantity</td>
                                                        <td>@Convert.ToDecimal(Model.Stock.PrevPrice).ToString("N4")</td>
                                                        <td>@Model.Stock.PrevSold</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-1">
                                        </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Obsolete Quantity&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                                <input type="text" required="required" class="form-control col-sm-3" id="NewQuantity" onkeypress="return isNumberKey(event)" maxlength="3">
                                                <div class="group-label text-bold">Total Quantity : <span id="totalQty">@(Model.Stock.PrevQuantity - Model.Stock.PrevSold) </span></div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Obsolete.ObsoleteType">Type</label>
                                        </label>
                                        <div class="col-md-9">
                                            <select required asp-for="Obsolete.ObsoleteType" asp-items="@Model.ObsoleteTypes" class="form-control col-sm-8">
                                                <option value="">Pick one</option>
                                            </select>
                                            <span asp-validation-for="Obsolete.ObsoleteType"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">
                                            <label asp-for="Obsolete.Notes">Notes</label>
                                        </label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" asp-for="Obsolete.Notes" required></textarea>
                                            <span asp-validation-for="Obsolete.Notes"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                        <a href="/admin/inventory" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsBottom{
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        var prevQty = parseFloat(@(Model.Stock.PrevQuantity - Model.Stock.PrevSold));
        $(document).ready(function() {
            calcQty($('#NewQuantity'));
            $('#NewQuantity').focusout(function() {
                calcQty($(this));
            });
        });

        function calcQty(element) {
            var obsoQty = parseFloat($(element).val());
            if (obsoQty > 0 && obsoQty <= prevQty) {
                var totalQty = parseFloat(prevQty - obsoQty);
                $('#totalQty').text(totalQty);
                $('#Obsolete_Quantity').val(totalQty);
                $('#Obsolete_ObsoleteQuantity').val(obsoQty);
            } else if (obsoQty > 0 && obsoQty > prevQty) {
                swal({
                    title: "Invalid Quantity",
                    text: 'Quantity entered cannot be more than the total quantity available',
                    type: "warning"
                });
            } else {
                $('#totalQty').text(prevQty);
                $('#Obsolete_Quantity').val(prevQty);
                $('#Obsolete_ObsoleteQuantity').val(0);
            }
        }
    </script>
}
