﻿<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/reports">Sales</a>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Daily</a>
                <a class="nav-link" href="/reports/aggregate">Aggregate</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" @*href="/reports/inventory"*@>Inventory</a>
        <ul>
            <li class="nav-item">
                <a class="nav-link" @*href="/reports/inventory-obsolete"*@>Obsolete</a>
            </li>
        </ul>
    </li>
</ul>
