﻿@page
@using Microsoft.EntityFrameworkCore.Internal
@using StoreLedger.Model
@using StoreLedger.Models
@model StoreLedger.Pages.Reports.AggregateModel
@{
    ViewData["Title"] = "Reports";
}
@section scripts{
    <!-- Date picker plugins css -->
    <link href="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
}
<div class="row">
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <partial name="_sideNav" />
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sales for @Utils.GetChartDateTitle(Model.From, Model.To)</h4>
                                <div class="text-right">
                                    <h2 class="font-light m-b-0">
                                        @*<i class="ti-arrow-up text-success"></i>*@
                                        @Defaults.CountryProfile.Currency @Model.Transactions.Sum(c => c.Total).ToString("N4")
                                    </h2>
                                    <span class="text-muted">Total Sales</span>
                                </div>
                                <div class="text-right m-t-10">
                                    @if (Model.Transactions.Any())
                                    {
                                        <button type="button" class="btn btn-xs btn-info" id="btnDownload">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="input-daterange input-group text-right" id="date-range">
                            <input type="text" class="form-control" name="start" placeholder="From" id="from" />
                            <div class="input-group-append">
                                <span class="input-group-text bg-info b-0 text-white">TO</span>
                            </div>
                            <input type="text" class="form-control" name="to" placeholder="To" id="to" />
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-secondary" id="btnSearch">Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 exportData">
                        @if (Model.Transactions.Any())
                        {
                            <table class="table">

                                <tr>
                                    <th>Date</th>
                                    <th class="text-right">Total (@Defaults.CountryProfile.Currency)</th>
                                    <th class="text-right">Average (@Defaults.CountryProfile.Currency)</th>
                                    <th class="text-right">Max. (@Defaults.CountryProfile.Currency)</th>
                                    <th class="text-right">Min. (@Defaults.CountryProfile.Currency)</th>
                                    <th></th>
                                </tr>

                                @{
                                    var counter = 0;
                                }
                                @foreach (var item in Model.Transactions)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            @*<a href="#" title="@item.DateCreated.ToString("dd-MMM-yyyy hh:mm")">
                        @Utils.GetPrettyDate(item.DateCreated)
                    </a>*@
                                            @item.DateCreated.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td class="text-right">@item.Total.ToString("N4")</td>
                                        <td class="text-right">@item.Average.ToString("N4")</td>
                                        <td class="text-right">@item.Maximum.ToString("N4")</td>
                                        <td class="text-right">@item.Minimum.ToString("N4")</td>
                                        <td class="text-right">
                                            <a href="/reports?currdate=@item.DateCreated.ToString("MM/dd/yyyy")" class="btn btn-outline-info btn-xs">Details</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="intotal">
                                    <th>&nbsp;</th>
                                    <th class="text-right">
                                        @Model.Transactions.Sum(c => c.Total).ToString("N4")
                                    </th>
                                    <th class="text-right">
                                        @Model.Transactions.Average(c => c.Average).ToString("N4")
                                    </th>
                                    <th class="text-right">
                                        @Model.Transactions.Max(c => c.Maximum).ToString("N4")
                                    </th>
                                    <th class="text-right">
                                        @Model.Transactions.Min(c => c.Minimum).ToString("N4")
                                    </th>
                                    <th></th>
                                </tr>

                            </table>
                        }
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsBottom{
    <!-- Date Picker Plugin JavaScript -->
    <script src="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/exportTable/xlsx.full.min.js"></script>
    <script src="/js/exportTable/FileSaver.min.js"></script>
    <script src="/js/exportTable/tableexport.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#date-range').datepicker({
                // toggleActive: true
            });
            $('.input-daterange-datepicker').daterangepicker({
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-danger',
                cancelClass: 'btn-inverse'
            });

            $('#btnSearch').click(function () {
                var from = $("#from").val();
                var to = $("#to").val();
                if (from !== "" && to !== "")
                    window.location = "/reports/aggregate?from=" + from + "&to=" + to;
                else {
                    swal({
                        title: "Cannot Search",
                        text: 'Select a date',
                        type: "warning"
                    });
                }
            });

            $('#btnDownload').click(function () {
                $(".exportData").tableExport({
                    formats: ['xlsx', 'csv', 'txt'],
                    filename: 'Aggregate_Report_@DateTime.Now.ToString("yy-MM-dd-HH-mm")'
                });
            });

        });
    </script>
}

