﻿@page
@using StoreLedger.Model
@using StoreLedger.Model.Repos
@using StoreLedger.Models
@model StoreLedger.Pages.Reports.IndexModel
@inject TransactionRepo _transactionRepo
@{
    ViewData["Title"] = "Reports";
    var trans = Model.TransactionItems
        .OrderByDescending(c => c.DateCreated)
        .Select(c => c.TransactionId)
        .Distinct();

    var total = Model.TransactionItems.Sum(c => c.Total);
}

@functions
{

    string GetUser(Transaction trans)
    {
        var user = Model.Users.FirstOrDefault(c => c.UserId == trans.Userid);

        if (user == null)
        {
            return string.Empty;
        }

        return $"{user.FirstName} {user.LastName}";
    }

    string GetInventory(IEnumerable<Inventory> inventories, Guid inventoryId)
    {
        var item = inventories.FirstOrDefault(c => c.InventoryId == inventoryId);
        return item != null ? item.Name : string.Empty;
    }
}
@section scripts{
    <!-- Date picker plugins css -->
    <link href="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
}

<div class="row">
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <partial name="_sideNav" />
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sales for @Model.CurrentDate.ToString("dd-MMMM-yyyy")</h4>
                                <div class="text-right">
                                    <h2 class="font-light m-b-0">@*<i class="ti-arrow-up text-success"></i>*@@Defaults.CountryProfile.Currency @total.ToString("N4")</h2>
                                    <span class="text-muted">Total Sales</span>
                                </div>
                                <div class="text-right m-t-10">
                                    @if (trans.Any())
                                    {
                                        <button type="button" class="btn btn-xs btn-info" id="btnDownload">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group p-t-40">
                            <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" id="date">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="icon-calender"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary" id="btnSearch">Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 exportData">
                        @{
                            var counter = trans.Count();
                        }
                        @foreach (var tranId in trans)
                        {
                            var parentTrans = _transactionRepo.FindAsync(tranId).Result;
                        <table class="table border-bottom">

                            <tr>
                                <td colspan="4">
                                    <span class="badge badge-category">Sale # @counter</span>
                                    <span class="badge badge-attendant">Attendant: @GetUser(parentTrans)</span>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <th class="rpColDate">Date</th>
                                <th class="rpColItem">Item</th>
                                <th class="rpColQty text-center">Quantity</th>
                                <th class="rpColPrice text-right">Price (@Defaults.CountryProfile.Currency)</th>
                                <th class="rpColTotal text-right">Total (@Defaults.CountryProfile.Currency)</th>
                            </tr>

                            @{
                                counter--;
                                var transItems = Model.TransactionItems.Where(c => c.TransactionId == tranId);
                            }
                            @foreach (var item in transItems)
                            {

                                <tr>
                                    <td>
                                        @item.DateCreated.ToString("dd-MMM-yyyy HH:mm")
                                    </td>
                                    <td>@GetInventory(Model.Inventories, item.InventoryId)</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-right">@item.Price.ToString("N4")</td>
                                    <td class="text-right">
                                        @item.Total.ToString("N4")
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" class="text-right  font-weight-bold">Total</td>
                                <td class="text-right  font-weight-bold">@transItems.Sum(c => c.Total).ToString("N4")</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right  font-weight-normal">Amount Paid</td>
                                <td class="text-right  font-weight-normal">@Defaults.CountryProfile.Currency @parentTrans.AmountPaid.ToString("N4")</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right  font-weight-normal">Change</td>
                                <td class="text-right  font-weight-normal">@Defaults.CountryProfile.Currency @parentTrans.AmountChange.ToString("N4")</td>
                            </tr>

                        </table>
                            <div class="m-b-30"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsBottom{
    <!-- Date Picker Plugin JavaScript -->
    <script src="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <script src="~/js/exportTable/xlsx.full.min.js"></script>
    <script src="/js/exportTable/FileSaver.min.js"></script>
    <script src="/js/exportTable/tableexport.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.mydatepicker, #datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });

            $('#btnSearch').click(function () {
                var date = $("#date").val();
                if (date !== "")
                    window.location = "/reports?currdate=" + date;
                else {
                    swal({
                        title: "Cannot Search",
                        text: 'Select a date',
                        type: "warning"
                    });
                }
            });

            $('#btnDownload').click(function () {
                $(".exportData").tableExport({
                    formats: ['xlsx', 'csv', 'txt'],
                    filename: 'Daily_Report_@DateTime.Now.ToString("yy-MM-dd-HH-mm")'
                });
            });


        });
    </script>
}

