﻿@page
@using StoreLedger.Model
@model StoreLedger.Pages.Sales.IndexModel
@{
    ViewData["Title"] = "Make A Sale";
    var rand = new Random();
}
@section scripts{
    <link href="/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}
@functions {

string GetColorClass(Random rand)
{
    var classes = new[] { "label-light-info", "label-stock", "label-light-primary", "label-light-danger" };

    return classes[rand.Next(0, classes.Length)];
}

string GetItemObject(InventoryView item)
{
    var name = item.Name.Replace("'", string.Empty).Replace(",", string.Empty);
    var price = item.Price.ToString("N4");
    var code = item.Code;
    var inventoryId = item.InventoryId;
    var availableQty = item.Quantity - item.Sold;
    return "{\"Name\":\"" + name
        + "\",\"Price\":\"" + price
        + "\",\"Code\":\"" + code
        + "\",\"InventoryId\":\"" + inventoryId
        + "\",\"InventoryStockId\":\"" + item.InventoryStockId
        + "\",\"AvailableQty\":\"" + availableQty
        + "\"}";
}

}
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Make A Sale</h4>
                <h6 class="card-subtitle">Make a sale to a customer :)</h6>
                <partial name="_Flash" />

                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-9">
                                <select id="item" class="select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                    <option value="Select">Select</option>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <text>
                                            <optgroup label="@item.Name">
                                                @{
                                                var inventories = Model.InventoriesForSale.Where(c => c.InventoryCategoryId == item.InventoryCategoryId);
                                                foreach (var inventory in inventories)
                                                {
                                                    <option data-value='@GetItemObject(inventory)'>
                                                        @inventory.Code @inventory.Name
                                                    </option>
                                                }
                                                }
                                            </optgroup>
                                        </text>
                                    }

                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <input type="text" id="itemQty" class="form-control col-sm-4" onkeypress="return isNumberKey(event)" maxlength="3" />
                                    @*<select id="itemQty" required class="form-control  custom-select col-sm-4">
                                @for (var a = 1; a <= 10; a++)
                                {
                                    <option value="">@a</option>
                                }
                            </select>*@
                                    <a href="#" id="addRow" class="btn btn-outline-secondary col-sm-4 m-l-10">
                                        <i class="mdi mdi-plus"></i>
                                        Add
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <form asp-page="Pay" asp-page-handler="Sell" method="post" id="inventorySale">
                                    <table class="table inventorySales">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Code</th>
                                                <th>Item</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-right">Price (@Defaults.CountryProfile.Currency)</th>
                                                <th class="text-right">Sub Total (@Defaults.CountryProfile.Currency)</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr id="trAdd" class="totals">
                                                <td colspan="5" class="text-right">Sub Total (@Defaults.CountryProfile.Currency)</td>
                                                <td class="text-right" id="trSubTotal">0.0</td>
                                            </tr>
                                            @*
                                    <tr class="totals">
                                        <td colspan="5" class="text-right">Tax 3.5% (GHS)</td>
                                        <td class="text-right">5.2</td>
                                    </tr>
                                    <tr class="totals">
                                        <td colspan="5" class="text-right">Nhil 3.5% (GHS)</td>
                                        <td class="text-right">5.2</td>
                                    </tr>*@
                                            <tr class="totals">
                                                <td colspan="5" class="text-right font-weight-bold">Total (@Defaults.CountryProfile.Currency)</td>
                                                <td class="text-right font-weight-bold" id="trTotal">0.0</td>
                                            </tr>
                                            <tr class="totals">
                                                <td class="text-right" colspan="6">
                                                    <button type="button" class="btn btn-danger" id="inventoryCancel">Cancel</button>
                                                    <button type="button" class="btn btn-secondary" id="inventoryPay">Confirm Payment</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>

                            </div>


                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <table class="table inventoryItems">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="inRowCategory" data-categoryId="0">All</a>
                                    </td>
                                </tr>
                                @foreach (var item in Model.Categories)
                                {
                                    <tr>
                                        <td>
                                            <a href="#" class="inRowCategory" data-categoryId="@item.InventoryCategoryId">@item.Name</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="table inventoryItems">
                            <tbody>

                                @foreach (var item in Model.Inventories)
                                {
                                    <tr class="inRowItem" data-categoryId="@item.InventoryCategoryId">
                                        <td>
                                            <strong>@item.Code</strong>
                                        </td>
                                        <td>
                                            <img src="@item.ImageUrl" width="50" height="50" />
                                        </td>
                                        <td>
                                            <div>
                                                <span class="font-weight-bold-400">@item.Name</span>
                                            </div>
                                            <div>
                                                <span class="badge badge-secondary">@Defaults.CountryProfile.Currency @item.Price.ToString("N4")</span>
                                                <span class="badge badge-category">Avail:@(item.Quantity - item.Sold)</span>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scriptsBottom{
    <script src="/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/js/jquery.tmpl.min.js"></script>
    <script id="row_template" type="text/html">
        <tr class="inventoryItem" data-inventoryId="${InventoryId}">
            <td>
                <a onclick="return removeLine(this, ${ ItemTotal });" href="javascript:void(0)" class="btn btn-xs btn-danger" data-subTotal="">
                    <i class="mdi mdi-minus-box"></i>
                    Remove
                </a>
                <input type="hidden" name="[${rowIndex}].InventoryId" value="${InventoryId}"/>
                <input type="hidden" name="[${rowIndex}].Quantity" value="${Quantity}"/>
                <input type="hidden" name="[${rowIndex}].InventoryStockId" value="${InventoryStockId}"/>
            </td>
            <td>${Code}</td>
            <td>${Name}</td>
            <td class="text-center">
                ${Quantity}
            </td>
            <td class="text-right">${Price}</td>
            <td class="text-right">${ItemTotal}</td>
        </tr>
    </script>
    <script>
        var rowIndex = -1;
        var subTotal = 0.0;

        function merge(item) {
            $("#row_template").tmpl(item).insertBefore("#trAdd");
        }

        function removeLine(obj, itTotal) {
            subTotal = parseFloat(subTotal) - parseFloat(itTotal);
            $("#trSubTotal").text(subTotal);
            $("#trTotal").text(subTotal);
            $(obj).parents('tr').remove();
            //return false;
        }

        jQuery(document).ready(function() {
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();


            $('#addRow').click(function() {

                var selectedItem = $("#item").find(":selected").data("value");
                var isValid = true;

                if ($("#itemQty").val() === "") {
                    isValid = false;
                    swal({
                        title: "Item quantity",
                        text: 'Item quantity cannot be blank',
                        type: "warning"
                    });
                    return false;
                }
                var selectedQty = parseInt($("#itemQty").val());

                if (selectedQty <= 0) {
                    isValid = false;
                    swal({
                        title: "Item quantity",
                        text: 'Item quantity cannot be 0 or less',
                        type: "warning"
                    });
                    return false;
                }

                //clear qty textbox
                $("#itemQty").val("");

                $('.inventoryItem').each(function(index, element) {
                    if (selectedItem.InventoryId === $(element).attr('data-inventoryId')) {
                        isValid = false;
                        swal({
                            title: "Cannot Add Item",
                            text: 'Item ' + selectedItem.Name + ' already added',
                            type: "warning"
                        });
                        return false;
                    }
                });
                
                if (selectedQty > parseInt(selectedItem.AvailableQty)) {
                    swal({
                        title: "Cannot Add Item",
                        text: 'Item ' + selectedItem.Name + ' quantity cannot be more the available quantity of ' + selectedItem.AvailableQty,
                        type: "warning"
                    });
                    isValid = false;
                }
                

                if (isValid === true) {
                    var itemTotal = parseFloat(selectedItem.Price) * parseFloat(selectedQty);
                    subTotal += itemTotal;
                    rowIndex++;

                    var item = {
                        Code: selectedItem.Code,
                        Name: selectedItem.Name,
                        Price: selectedItem.Price,
                        ItemTotal: itemTotal.toFixed(4),
                        Quantity: selectedQty,
                        InventoryId: selectedItem.InventoryId,
                        InventoryStockId: selectedItem.InventoryStockId,
                        rowIndex: rowIndex
                    };
                    merge(item);
                    $("#trSubTotal").text(subTotal.toFixed(4));
                    $("#trTotal").text(subTotal.toFixed(4));
                    $('.select2').selectpicker("refresh");
                    $('.selectpicker').selectpicker("refresh");
                    $('#itemQty').prop('selectedIndex', 0);
                }

            });

            $('#inventoryPay').click(function() {
                $('#inventorySale').submit();
            });
            $('#inventoryCancel').click(function() {
                subTotal = 0.0;
                $("#trSubTotal").text(subTotal);
                $("#trTotal").text(subTotal);
                //$(".inventoryItem" ).each(function() {
                //    $(this).remove();
                //});
            });

            $('.inRowCategory').click(function() {
                var categoryId = $(this).attr('data-categoryId');
                $('.inRowItem').each(function(index, element) {
                    $(element).show();
                    if (categoryId == "0") {
                        $(element).show();
                        return;
                    }
                    var itemCategoryId = $(element).attr('data-categoryId');
                    if (categoryId !== itemCategoryId) {
                        $(element).hide();
                    }
                });
            });
        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }  
    </script>
}

