﻿@page
@using Newtonsoft.Json
@using StoreLedger.Model
@model StoreLedger.Pages.Sales.PayModel
@{
    ViewData["Title"] = "Sales: Pay";
    var subTotal = 0.0M;
}
@section scripts{
    <link href="/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}
@functions {

string GetColorClass(Random rand)
{
    var classes = new[] { "label-light-info", "label-stock", "label-light-primary", "label-light-danger" };

    return classes[rand.Next(0, classes.Length)];
}

string GetItemObject(InventoryView item)
{
    var name = item.Name.Replace("'", string.Empty).Replace(",", string.Empty);
    var price = item.Price.ToString("N4");
    var code = item.Code;
    var inventoryId = item.InventoryId;
    return "{\"Name\":\"" + name
        + "\",\"Price\":\"" + price
        + "\",\"Code\":\"" + code
        + "\",\"InventoryId\":\"" + inventoryId
        + "\"}";
}

}

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sales</h4>
                <h6 class="card-subtitle">Make a sale to a customer :)</h6>
                <partial name="_Flash" />

                <div class="row">
                    <div class="col-sm-8 offset-md-2">
                        <div class="row">
                            <div class="col-sm-12">

                                <table class="table inventorySales">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Item</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-right">Price (@Defaults.CountryProfile.Currency)</th>
                                            <th class="text-right">Sub Total (@Defaults.CountryProfile.Currency)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Sales)
                                        {
                                            //var itemTotal = item.Price * item.Quantity;
                                            subTotal += item.Total;
                                            <tr class="inventoryItem">
                                                <td>@item.Code</td>
                                                <td>@item.Name</td>
                                                <td class="text-center">
                                                    @item.Quantity
                                                </td>
                                                <td class="text-right">@item.Price.ToString("N4")</td>
                                                <td class="text-right">@item.Total.ToString("N4")</td>
                                            </tr>
                                        }

                                        <tr id="trAdd" class="totals">
                                            <td colspan="4" class="text-right">Sub Total (@Defaults.CountryProfile.Currency)</td>
                                            <td class="text-right" id="trSubTotal">@subTotal.ToString("N4")</td>
                                        </tr>
                                        <tr class="totals">
                                            <td colspan="4" class="text-right font-weight-bold">Total (@Defaults.CountryProfile.Currency)</td>
                                            <td class="text-right font-weight-bold">@subTotal.ToString("N4")</td>
                                        </tr>
                                        <tr class="totals">
                                            <td colspan="4" class="text-right font-weight-bold">Enter Amount</td>
                                            <td class="text-right font-weight-bold">
                                                <input type="text" class="form-control" id="Amount" onkeypress="return isNumberKey(event)" autocomplete="off" />
                                            </td>
                                        </tr>
                                        <tr class="totals">
                                            <td colspan="4" class="text-right font-weight-bold">Change</td>
                                            <td class="text-right font-weight-bold" id="trChange"></td>
                                        </tr>
                                        <tr class="totals">
                                            <td class="text-right" colspan="5">
                                                <button type="button" class="btn btn-secondary" id="inventoryBack">&laquo; Cancel</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                @*<button type="button" class="btn btn-danger" id="inventoryCancel">Cancel</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;*@
                                                <button type="button" class="btn btn-success" id="inventoryPay" 
                                                        onclick="modalConfirmPay(this)">
                                                    Pay & Print Receipt
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<form asp-page="Pay" asp-page-handler="ProcessTransaction" method="post" id="inventorySale">
    <input type="hidden" name="Items" value="@JsonConvert.SerializeObject(Model.Sales.Select(c => new { c.InventoryId, c.Quantity, c.InventoryStockId }).ToList())" />
    <input type="hidden" name="AmountPaid" id="AmountPaid" />
</form>
@section scriptsBottom{
    <div class="modal fade" id="confirmPayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Processing Payments</h4>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                </div>
                <div class="modal-body text-center" style="padding-left: 180px;">
                    <div class="salesloader"></div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="" id="modDelete" class="btn btn-primary">YES DELETE</a>*@
                </div>
            </div>
        </div>
    </div>
    @*<script src="/js/jquery.sweet-alert.custom.js"></script>*@
    <script>
        var subTotal = parseFloat(@subTotal.ToString("N4"));

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        $(document).ready(function() {

            
            $('#Amount').focusout(function() {
                $('#trChange').text('');
                //$('#Stock_Quantity').val(prevQty + newQty);
                var amount = parseFloat($(this).val());
                if (amount > 0 && amount >= subTotal) {
                    var change = amount - subTotal;
                    if (change > 0) {
                        $('#trChange').text(change.toFixed(4));
                        //$('#Stock_Quantity').val(prevQty + newQty);
                    }

                }
            });

            $('#inventoryBack').click(function(){
                swal({   
                    title: "Are you sure?",   
                    text: "This sale will be cancelled",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmButtonColor: "#DD6B55",   
                    confirmButtonText: "Yes, cancel it!",   
                    closeOnConfirm: false 
                },function(){   
                    window.location = "/sales"
                });
            });
        });

        function modalConfirmPay(e) {

            if ($("#Amount").val() === "") {
                swal({
                    title: "Amount not valid",
                    text: "Please enter a valid amount",
                    type: "warning"
                });
                return;
            }
            var amount = parseFloat($("#Amount").val());

            if (amount < subTotal) {
                swal({
                    title: "Amount not valid",
                    text: "Please enter a valid amount",
                    type: "warning"
                });
            } else {
                $("#AmountPaid").val(amount);
                $('#confirmPayModal').modal({ backdrop: 'static', keyboard: false });
                $('#inventorySale').submit();
            }

            

            //var modal = $('#deleteModal');
            //modal.find('#modContent').text('Delete Category ' + name);
            //modal.find('#modDelete').attr('href', '/admin/inventory/category?handler=delete&id=' + id);

            
        }

    </script>
}

