﻿@page
@using StoreLedger.Model
@using StoreLedger.Pages.Admin
@using StoreLedger.Pages.Admin.Users
@model StoreLedger.Pages.Admin.Users.AdminUsersPage
@{
    ViewData["Title"] = "Users";
}
@functions
{

    string SetRoleLabel(string role)
    {
        if (role == Defaults.Role.SuperAdministrator) return "label-primary";
        if (role == Defaults.Role.Administrator) return "label-success";
        if (role == Defaults.Role.Manager) return "label-info";
        if (role == Defaults.Role.Attendant) return "label-danger";

        return "label-primary";
    }

}
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <h6 class="card-subtitle">User management</h6>
                <partial name="_Flash" />
                <div class="button-group text-right">
                    <a asp-page="usersform" asp-page-handler="create" class="btn btn-secondary">
                        <i class="mdi mdi-account-plus"></i>
                        Add User
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Mobile Number</th>
                                <th>Username</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Users)
                        {
                            var roleClass = "label-success";
                            var role = item.UserRole.Name;
                            <tr>
                                <td><span class="label @SetRoleLabel(role)">@item.UserRole.Name</span> </td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.MobileNumber</td>
                                <td>@item.Username</td>
                                <th class="text-right">
                                    <a asp-page="Usersform" asp-page-handler="edit" asp-route-id="@item.UserId" class="btn btn-outline-secondary">Edit</a>
                                    &nbsp;&nbsp;
                                    <a href="#"
                                       class="btn btn-outline-danger deleteUser" 
                                       data-toggle="modal" data-target="#deleteModal"
                                       data-id="@item.UserId" data-name="@item.FirstName" onclick="modalFunc(this)">Delete</a>
                                </th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section scriptsBottom
{
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">New message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <span id="modContent"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="" id="modDelete" class="btn btn-primary">YES DELETE</a>
                </div>
            </div>
        </div>
    </div>
    <script>
            //$('.deleteUser').on('show.bs.modal',
            //    function(e) {
            //        var id = $(e.relatedTarget).attr('data-id');
            //        var name = $(e.relatedTarget).attr('data-name');

            //        var modal = $(this);
            //        modal.find('#modContent').text('Delete User ' + name);
            //        modal.find('#modDelete').attr('asp-route-id', id);
            //});

        function modalFunc(e) {
            var id = $(e).attr('data-id');
            var name = $(e).attr('data-name');

            var modal = $('#deleteModal');
            modal.find('#modContent').text('Delete User ' + name);
            modal.find('#modDelete').attr('href', '/admin/users?handler=delete&id=' + id);
        }
                
    </script>
}
