﻿@page
@using StoreLedger.Pages.Admin
@using StoreLedger.Pages.Admin.Users
@model StoreLedger.Pages.Admin.Users.AdminUsersForm
@{
    ViewData["Title"] = $"Users : ";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">@Model.PageForm.Title</h3>
            <p class="text-muted m-b-30 font-13"> &nbsp; </p>
            <partial name="_Flash" />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form asp-page-handler="@Model.PageForm.Method" method="post">
                        <input type="hidden" asp-for="AppUser.UserId"/>
                        <div class="form-group">
                            <label asp-for="AppUser.FirstName">First Name</label>
                            <input type="text" required class="form-control" asp-for="AppUser.FirstName" id="FirstName" asp placeholder="Enter First Name">
                            <span asp-validation-for="AppUser.FirstName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.LastName">Last Name</label>
                            <input type="text" required asp-for="AppUser.LastName" class="form-control" id="LastName" placeholder="Enter Last Name">
                            <span asp-validation-for="AppUser.LastName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.MobileNumber">Mobile Number</label>
                            <input type="text" required asp-for="AppUser.MobileNumber" class="form-control" id="MobileNumber" placeholder="Enter Last Mobile Number">
                            <span asp-validation-for="AppUser.MobileNumber"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.RoleId">Role</label>
                            <select required asp-for="AppUser.RoleId" asp-items="@Model.Roles" class="form-control">
                                <option value="">Pick one</option>
                            </select>
                            <span asp-validation-for="AppUser.RoleId"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.IsEnabled">Enabled</label>
                            <select asp-for="AppUser.IsEnabled" asp-items="@Model.StatusOption" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Username">Username</label>
                            <input type="text" required asp-for="AppUser.Username" class="form-control" id="Username" placeholder="Enter Username" maxlength="10">
                            <small>10 characters max</small>
                            <span asp-validation-for="AppUser.Username"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Password">Password</label>
                            <input type="text" required asp-for="AppUser.Password" class="form-control" id="Password" placeholder="Enter Password" maxlength="10">
                            <small>10 characters max</small>
                            <span asp-validation-for="AppUser.Password"></span>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                        <a href="/admin/users" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
