﻿<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a asp-page="/index" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Home</span></a>
                </li>
                <li>
                    <a asp-page="/admin/users/index" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users</span></a>
                </li>
                <li>
                    <a href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Inventory</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-page="/admin/inventory/index">Items</a></li>
                        <li><a asp-page="/admin/inventory/category">Categories</a></li>
                    </ul>
                </li>
                @*<li>
                    <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Customers</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-cloud-sync"></i><span class="hide-menu">Sync</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Reports</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Admin</span></a>
                </li>*@
            </ul>
        </nav>
    </div>
</aside>