﻿<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a href="/" aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-dashboard.png" alt=""/>
                        </span><span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/sales" aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-sales.png" alt="" />
                        </span><span class="hide-menu">Sell</span>
                    </a>
                </li>
                <li>
                    <a href="/inventory" aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-inventory.png" alt="" />
                        </span><span class="hide-menu">Inventory</span>
                    </a>
                </li>
                @*<li>
                    <a  aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-customers.png" alt="" />
                        </span><span class="hide-menu">Customers</span>
                    </a>
                </li>
                <li>
                    <a  aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-sync.png" alt="" />
                        </span><span class="hide-menu">Sync</span>
                    </a>
                </li>*@
                <li>
                    <a href="/reports" aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-reports.png" alt="" />
                        </span><span class="hide-menu">Reports</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/admin/users/index" aria-expanded="false">
                        <span class="menu-icon">
                            <img src="/icons/icon-admin.png" alt="" />
                        </span><span class="hide-menu">Admin</span>
                    </a>
                </li>
                        
            </ul>
        </nav>
    </div>
</aside>