﻿@page
@using StoreLedger.Model
@using StoreLedger.Models
@using StoreLedger.Pages
@model StoreLedger.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
    {
    <link href="/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
}
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today Sales</h4>
                <h6 class="card-subtitle">@Html.Raw(Utils.GetDashDateTitle(Model.Sales.Daily.Date, null))</h6>
                <div class="text-right">
                    <h2 class="font-light m-b-0">
                        @*<i class="ti-arrow-up text-success"></i>*@ @Defaults.CountryProfile.Currency @Model.Sales.Daily.Total.ToString("N4")
                    </h2>
                    <span class="text-muted">Todays Income</span>
                </div>
                @*<span class="text-success">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">This Week Sales</h4>
                <h6 class="card-subtitle">
                    @Html.Raw(Utils.GetDashDateTitle(Model.Sales.Weekly.From, Model.Sales.Weekly.To))
                </h6>
                <div class="text-right">
                    <h2 class="font-light m-b-0">
                        @*<i class="ti-arrow-up text-info"></i>*@ @Defaults.CountryProfile.Currency @Model.Sales.Weekly.Total.ToString("N4")
                    </h2>
                    <span class="text-muted">Weekly Income</span>
                </div>
                @*<span class="text-info">30%</span>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">This Month Sales</h4>
                <h6 class="card-subtitle">
                    @Html.Raw(Utils.GetDashDateTitle(Model.Sales.Montly.From, Model.Sales.Montly.To))
                </h6>
                <div class="text-right">
                    <h2 class="font-light m-b-0">
                        @*<i class="ti-arrow-up text-purple"></i>*@ @Defaults.CountryProfile.Currency @Model.Sales.Montly.Total.ToString("N4")
                    </h2>
                    <span class="text-muted">Monthly Income</span>
                </div>
                @*<span class="text-purple">60%</span>
                    <div class="progress">
                        <div class="progress-bar bg-purple" role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Last 12 Months Sales</h4>
                <h6 class="card-subtitle">
                    @Html.Raw(Utils.GetDashDateTitle(Model.Sales.Yearly.From, Model.Sales.Yearly.To))
                </h6>
                <div class="text-right">
                    <h2 class="font-light m-b-0">
                        @*<i class="ti-arrow-down text-danger"></i>*@ @Defaults.CountryProfile.Currency @Model.Sales.Yearly.Total.ToString("N4")
                    </h2>
                    <span class="text-muted">Yearly Income</span>
                </div>
                @*<span class="text-danger">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex no-block">
                            <div>
                                <h3>Sales Trand</h3>
                                @*<h6 class="card-subtitle">January 2017</h6>*@
                                <div class="ml-auto">
                                    <select class="custom-select" id="optionPeriod">
                                        <option value="0" selected="">This week</option>
                                        <option value="1">This Month</option>
                                        <option value="2">Last 3 Months</option>
                                        <option value="3">Last 6 Months</option>
                                        <option value="4">Last 12 Months</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="ml-auto ">
                                    <ul class="list-inline">
                                        <li>
                                            <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-success"></i>Product A</h6>
                                        </li>
                                        <li>
                                            <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-info"></i>Product B</h6>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-12">
                        <div id="salesTrend" class="total-revenue4" style="height: 350px;"></div>
                    </div>
                    @*<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
                            <h1 class="m-b-0 font-light">$54578</h1>
                            <h6 class="text-muted">Total Revenue</h6>
                        </div>
                        <div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
                            <h1 class="m-b-0 font-light">$43451</h1>
                            <h6 class="text-muted">Online Revenue</h6>
                        </div>
                        <div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
                            <h1 class="m-b-0 font-light">$44578</h1>
                            <h6 class="text-muted">Product A</h6>
                        </div>
                        <div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
                            <h1 class="m-b-0 font-light">$12578</h1>
                            <h6 class="text-muted">Product B</h6>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<!-- Row -->
@*<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today's Sales</h4>
                <div class="table-responsive m-t-40">
                    <table class="table stylish-table">
                        <thead>
                            <tr>
                                <th colspan="2">Assigned</th>
                                <th>Name</th>
                                <th>Priority</th>
                                <th>Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:50px;"><span class="round">S</span></td>
                                <td>
                                    <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td><span class="label label-light-success">Low</span></td>
                                <td>$3.9K</td>
                            </tr>
                            <tr class="active">
                                <td><span class="round"><img src="/assets/images/users/2.jpg" alt="user" width="50" /></span></td>
                                <td>
                                    <h6>Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td><span class="label label-light-info">Medium</span></td>
                                <td>$23.9K</td>
                            </tr>
                            <tr>
                                <td><span class="round round-success">B</span></td>
                                <td>
                                    <h6>Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td><span class="label label-light-danger">High</span></td>
                                <td>$12.9K</td>
                            </tr>
                            <tr>
                                <td><span class="round round-primary">N</span></td>
                                <td>
                                    <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td><span class="label label-light-success">Low</span></td>
                                <td>$10.9K</td>
                            </tr>
                            <tr>
                                <td><span class="round round-warning">M</span></td>
                                <td>
                                    <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td><span class="label label-light-danger">High</span></td>
                                <td>$12.9K</td>
                            </tr>
                            <tr>
                                <td><span class="round round-danger">N</span></td>
                                <td>
                                    <h6>Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td><span class="label label-light-danger">High</span></td>
                                <td>$2.6K</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>*@
<!-- Row -->

@section scriptsBottom
{
    @*<script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
        <script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>*@
    <!-- Chart JS -->
    @*<script src="/assets/plugins/echarts/echarts-all.js"></script>*@
    <!-- Chart JS -->
    @*<script src="/js/dashboard1.js"></script>*@
    <script src="/js/highcharts/highcharts.js"></script>
    <script>
        $(document).ready(function() {

            GetTrends("week", "Daily Sales");

            $('#optionPeriod').change(function() {
                var selectedPeriod = $("#optionPeriod option:selected").val();
                if (selectedPeriod == 0) {

                    GetTrends("week", "Daily Sales");
                }
                else if (selectedPeriod == 1) {

                    GetTrends("month", "Daily Sales");
                }
                else if (selectedPeriod == 2) {

                    GetTrends("last3months", "Last 3 Months Sales");
                }
                else if (selectedPeriod == 3) {

                    GetTrends("last6months", "Last 6 Months Sales");
                }
                else if (selectedPeriod == 4) {

                    GetTrends("last12months", "Last 12 Months Sales");
                }
                
            });

        });

        function GetTrends(period, xText) {
            $.get('/index?handler=Trends&period=' + period,
                function(data) {
                    console.log(data.labels);
                    console.log(data.series);
                    showChart(data.labels, data.series, xText);
                });
        }

        function showChart(dataLabels, dataSeries, xText) { //'salesTrend'
            var myChart = Highcharts.chart('salesTrend', {
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Sales Trends'
                },
                xAxis: {
                    categories: dataLabels
                },
                yAxis: {
                    title: {
                        text: 'Sales'
                    }
                },
                series: [{
                    name: xText,
                    data: dataSeries
                }],
                tooltip: {
                    formatter: function() {
                        return '<b>' + this.x + '</b><br/> @Defaults.CountryProfile.Currency<b> ' + this.y + '</b> ';
                    }
                }
            });
        }
    </script>
}
