﻿@page
@using StoreLedger.Pages
@model StoreLedger.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>