﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity.UI.Pages.Account.Manage.Internal
@using Newtonsoft.Json
@using StoreLedger.Models
@{
    var message = Context.Session.GetString("FlashMsg");// TempData[Flash.SessionKey] as string;TempData["flash"]; //

    Message objMsg = null;
    if (!string.IsNullOrEmpty(message))
    {
        objMsg = JsonConvert.DeserializeObject<Message>(message);
    }

    Context.Session.SetString("FlashMsg", string.Empty);
}

@if (objMsg != null)
{
    <div class="alert @objMsg.Type">
        @Html.Raw(objMsg.Body)
    </div>
}

